<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <h1>Perfil Medico</h1>

    <form>
        <label>Nombre</label>
        <input type="text" name="name" required>

        <label>Especialidad</label>
        <input type="text" name="speciality" required>

        <label>Lugar donde atiende</label>
        <input type="text" name="location" required>

        <label>Precio por cita</label>
        <input type="number" name="cost" required>

        <input type="submit" value="update">
    </form>

</section>
</html>