<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="#">
        <title>#</title>
    </head>
    <body>
        <header>
            <!--La idea de esto es que cuando le de click al logo vaya al index-->>
            <a href="index.html"><img src="#" alt="Logo"></a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">Search</a></li> 
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </header>

        <form>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <input type="button" value="login">
        </form>

        <section>
            <a href="./User/register.html">Register as client</a>
            <a href="./Medic/register.html">Register as medic</a>
        </section>
        
        <footer>
            <p>&copy;2025</p>
        </footer>
    </body>
</html>