<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:decorate="content">
    <div class="login-container">
        <h2>Login</h2>
        <div class="avatar">
            <img src="img/avatar.png" alt="Avatar">
        </div>
        <form>
            <div class="input-group">
                <img src="img/user-icon.png" alt="User Icon" class="user-icon">
                <input type="text" id="username" name="username" placeholder="User id">
            </div>
            <div class="input-group">
                <img src="img/key-icon.png" alt="Key Icon" class="user-icon">
                <input type="password" id="password" name="password" placeholder="User Password">
            </div>
            <button type="submit" class="login-button">Log in</button>
        </form>
        <div class="register-options">
            <p>Don't have an account?</p>
            <a href="register.html" class="register-button">Register as Client</a>
            <a href="./Medic/register.html" class="register-button">Register as Medic</a>
        </div>
    </div>

</section>
</html>