<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <h1>Registrarse</h1>
    <form>
        <label>Nombre</label>
        <input type="text" name="name" required>

        <label>Nombre de Usuario</label>
        <input type="text" name="username" required>

        <label>XContraseña: </label>
        <input type="password" name="password" required>

        <label>Registrase Como medico</label>
        <input type="checkbox" name="isMedic">

        <input type="submit" value="send">
    </form>
</section>
</html>